{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element product" style="padding-top: 10px; background-color: #D4DAD1;">
                <hr>
                <h8><strong>UNIVERSIDAD:</strong></h8>
                <h8>Universidad Cooperativa de Colombia - Sede Bogotá</h8>
                <hr>
                <h8><strong>DESARROLLADO POR:</strong></h8>
                <h8>Andrés Felipe Díaz Santana, Ruby Carolina Díaz Díaz y Edward Mauricio Pinzón Urrego.</h8>
                <hr>
                <h8><strong>ASESORÍA DE MULTIMEDIA:</strong></h8>
                <h8>Jacqueline Muñoz Medina.</h8>
                <hr>
                <h8><strong>FUENTES:</strong></h8>
                <hr>
                <a href="https://shop.fender.com/en/intl/start">Página Web de Fender.</a>
                <hr>
                <a href="https://www.youtube.com/channel/UCTZRcDjjkVajGL6wd76UnGg">Canal Educativo de YouTube (Denis Ivy).</a>
                <hr>
                <a href="https://docs.djangoproject.com/en/3.1/">Documentación Oficial de Django.</h8>
                <hr>
                <img src="{% static 'images/logo.png' %}" alt="" style="height: 30%; width: 30%;">
                <hr>
            </div>
        </div>
    </div>
{% endblock content%}