{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<br>

<div class="row">
	<div class="col-4">
		<div class="col-md">
			<div class="card md-3">
        <img src="{% static 'images/strat_polar.jpg' %}" alt="" style="padding: 10px;">
        <div class="card-body"  id="Widgets">
          <h5 class="card-title">Fender Stratocaster</h5>
          <h6 class="card-subtitle mb-2 text-muted">$2'500.000</h6>
          <p class="card-text">Guitarra Eléctrica Fender Player, diapasón en Pau Ferro, 
            color 3 polar White. Fabricada en México, con el gran sonido y construcción
            de Fender en una guitarra versátil y clásica al mismo tiempo.</p>
          <div class="d-flex justify-content-center">
            <a href="" class="btn btn-dark btn-lg">COMPRAR</a>
          </div>
        </div>
			</div>
		</div>
	</div>

	<div class="col-4">
		<div class="col-md">
			<div class="card md-3">
        <img src="{% static 'images/bass.jpg' %}" alt="" style="padding: 10px;">
        <div class="card-body"  id="Widgets">
          <h5 class="card-title">Ultra Jazz Bass</h5>
          <h6 class="card-subtitle mb-2 text-muted">$1'750.000</h6>
          <p class="card-text">Con su conocida y admirada estética y el sonido pero en un precio reducido.
             Resulta ideal para el bajista moderno que busca un mayor registro de frecuencias graves, 
             los puntos fuertes de este bajo son su growling y las potentes pastillas.</p>
          <div class="d-flex justify-content-center">
            <a href="" class="btn btn-dark btn-lg">COMPRAR</a>
          </div>
        </div>
			</div>
		</div>
	</div>

	<div class="col-4">
		<div class="col-md">
			<div class="card md-3">
        <img src="{% static 'images/drums.jpg' %}" alt="" style="padding: 10px;">
        <div class="card-body"  id="Widgets">
          <h5 class="card-title">Drums</h5>
          <h6 class="card-subtitle mb-2 text-muted">$3'220.000</h6>
          <p class="card-text">Está fabricada en madera solida de Álamo, (6 capas para toms y redoblante,
             7 capas para el bombo) cuenta con todas las características de sonido y calidad en sus bases 
             y herrajes dignas de un instrumento profesional Yamaha.</p>
          <div class="d-flex justify-content-center">
            <a href="" class="btn btn-dark btn-lg">COMPRAR</a>
          </div>
        </div>
			</div>
		</div>
	</div>

</div>

{% endblock %}

	
