body{
	background-color: #F8F9FA;
	background-color: #BCB8B8;
}

#Widgets{
	background-color: #BCB8B8;
	font-family: sans-serif;
	border: 0px;
}

#Buttons{
	background-color: #f8f9fa65;
	font-family: sans-serif;
	font-weight: 600; 
	color:#212544;
	border: 3px solid rgb(112, 122, 94);  
	margin-bottom: 20px;
	padding: 10px;
}

#TableText{
	font-family: sans-serif;
	font-weight: normal;
}